@import "tailwindcss";

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #202224;
}

@theme {
    --color-grey: #f5f6fa;
    --color-border: #d5d5d5;
    --color-accent: #9333ea;
}

@theme {
    --font-sans: "Inter", sans-serif;
    --font-display: "Playfair Display", serif;
}

.entered {
    transition: 0.4s ease-in-out;
}
